@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    color: #101218;
}

.scroll-to-top {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #101218;
    cursor: pointer;
    right: 20px;
    bottom: 20px;
    color: #fff;    
    z-index: 99;
    border-radius: 2px;
    outline: none;
    border:none;
}

.header {
    width: 100%;
    background-color: #F3F5F5;
}

.header__inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 64px;
    height: 64px;
}

.header__title {
    color: #101218;
}

.burger {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1024px) {
    .burger {
        display: block;
    }
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #101218;
    text-decoration: none;
}

.header__button {
    background-color: #4175FC;
    padding: 15px 45px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
    transition: all .2s linear;
}

.header__button:hover {
    background-color: #084AF3;
}

@media screen and (max-width: 1024px) {
    .header__button {
        display: none;
    }
}

.welcome {
    width: 100%;
    background-color: #F3F5F5;
}

.welcome__inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}

.welcome__h1 {
    font-size: 65px;
    color: #101218;
    font-family: "Roboto Condensed", sans-serif;
}

@media screen and (max-width: 1024px) {
    .welcome__h1 {
        font-size: 30px;
    }
}

.welcome__h2 {
    font-size: 48px;
    color: #101218;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .welcome__h2 {
        font-size: 25px;
    }
}

.what_section {
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.what_inner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.what_inner p {
    margin-bottom: 1.6em;
}

.what_title {
    font-size: 2.75rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;    
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .what_title {
        font-size: 20px;
    }
}

.what_subtitle {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;    
    line-height: 1.5;
}

@media screen and (max-width: 1024px) {
    .what_subtitle {
        font-size: 15px;
    }
}

.what_line {
    background-color: #4175fc;
    width: 9%;
    height: 3px;
    margin-bottom: 20px;
}

.what_gridWrapper {
    width: 100%;
    max-width: 1140px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.what_gridItem {
    font-size:18px;
    position: relative;
}

.what_gridItemTitle {
    line-height: 1.3;
    font-size: 1.875rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
}

.what_lineGrid {
    background-color: #4175fc;
    width: 15%;
    height: 3px;
    margin-bottom: 20px;
}

.what_gridItem ul {
    margin: 0 0 1.5em 3em;
}

.what_gridItem li {
    margin-bottom: 10px;
}

.what_gridB{
    width: 100%;
    font-weight: 700;
    text-align: center;
}

.what_gridH3 {
    font-size: 2.75rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .what_gridH3 {
        font-size: 20px;
    }
}

.what_gridItem_ImgWrap {
    width: 100%;
    height: 100%;
    background-color: #4175fc;
    border-radius: 10px;
    padding: 30px 13px 30px 0px;
    align-content: center;
    align-items: center;
}

.what_gridItem_ImgWrap img {
    width: 95%;
    margin: -26px -26px -26px -26px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    #imgWrap {
        display: none;
    }

    .what_gridItem {
        grid-column: 1 / span 2;
    }

    .info_section2 {
        display: none;
    }
}

.txt_section {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt_section > * {
    margin-bottom: 1.6em;
    text-align: center;
    line-height: 1.5;
}

.txt_section h1 {
    font-size: 1.875rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.txt_section h2 {
    color: #54595f;
    font-size: 1.575rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.txt_section h3 {
    color: #54595f;
    font-size: 1.375rem;
    font-weight: 400;
}

.txt_bTxt {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.375rem;
    line-height: 1.3;
}

@media screen and (max-width: 1024px) {
    .txt_bTxt {
        font-size: 20px;
    }
}

.greenBlock {
    padding: 22px 22px 22px 22px;
    background-color: #00902b;
    width: 100%;
}

.greenBlock p {
    color: #FFFFFF;
    font-family: "Georgia", Sans-serif;
    font-size: 23px;
    line-height: 2;
    margin-bottom: 1.6em;
    text-align: left;
}

.info_section {
    width: 100%;
    padding: 40px 0px 40px 0px;
    background-color: #f3f5f5;
}

.info_sectionWrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info_sectionWrapper > h1 {
    font-size: 2.375rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 1024px) {
    .info_sectionWrapper > h1 {
        font-size: 20px;
    }
}

.info_sectionWrapper > * {
    margin-bottom: 25px;
}

.info_sectionWrapper > p {
    color: #54595f;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;    
    line-height: 1.8;
}

@media screen and (max-width: 1024px) {
    .info_sectionWrapper > p  {
        font-size: 15px;
    }
}

.img_info_section {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    box-shadow: 4px 0px 19px 0px rgba(0, 0, 0, 0.5);
    margin-top:25px;
}

.info_section2 {
    background-color: #f5ffff !important;
}

.info_section2  p {
    line-height: 1.8 !important;
}

.info_sectionGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info_sectionGridItem {
    width: 90%;
    margin: 50px 25px 50px 25px;
    background-color: #fff;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 1rem;
    gap: 2rem;
    border-radius: 10px;
}

.img_info_sectionGrid {
    max-width: 70px;
}

.info_sectionLink {
    text-decoration: none;
    transition: .3s all;
    font-size: 1.2rem;
    color: black;
}

.info_sectionLink:hover {
    color: #084af3;
}

.payFor_section {
    width: 100%;
    padding: 40px 0px 40px 0px;
}


.payFor_sectionWrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payFor_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.payFor_gridItem {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payFor_gridItem_imgBg {
    width: 100%;
    height: 100%;
    background-color: #4175fc;
    border-radius: 10px;
    margin: 30px 30px 30px 0px;
    padding: 30px 13px 30px 0px;
    align-content: center;
    align-items: center;
}

.payFor_img_wrap {
    margin: -21px -21px -21px -21px;
    border-radius: 10px;
    overflow: hidden;
}


.payFor_gridItem_imgBg img {
    width: 95%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.payFor_gridItem h1 {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: 20px;
}

.payFor_gridItem p {
    color: #54595f;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;    
    line-height: 1.8;
}

.payFor_sectionLink {
    display: block;
    background-color: #5cb85c;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 160px;
    text-align: center;   
}


@media screen and (max-width: 1200px) {
    #payForImage {
        display: none;
    }
    .payFor_grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


.order_section {
    width: 100%;
    background-color: #dfffff;
    padding: 40px 0px 40px 0px;
}


.order_sectionWrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order_sectionWrapper  > *
{
    font-size: 2.375rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
    line-height: 1.5;
}

@media screen and (max-width: 1024px) {
    .order_sectionWrapper  > * {
        font-size: 31px;
    }
}

.order_sectionWrapper  > h3
{
    width: 100%;
    text-align: left;
}

.order_sectionWrapper ul {
    margin: 0 0 1.5em 1.5em;
}


.invest_section {
    width: 100%;
    background-color: #f3f5f5;
    padding: 40px 0px 40px 0px;
}


.invest_sectionWrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invest_sectionWrapper  > *
{
    margin-bottom: 20px;
    line-height: 1.5;
}

.invest_sectionWrapper h1 {
    font-size: 2.375rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.invest_sectionWrapper p {
    color: #54595f;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;    
    line-height: 1.8;
}

@media screen and (max-width: 1024px) {
    .invest_sectionWrapper h1  {
        font-size: 20px;
    }

    .invest_sectionWrapper p {
        font-size: 15px;
    }
}

.invest_gridOne {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.invest_gridTwo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.invest_gridItem {
    margin: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
    padding-bottom: 3rem;
}

.invest_gridItem > * {
    margin: 25px 25px 0px 30px;
}

.invest_gridItemTitle {
    font-size: 19px;
}

.invest_gridItemDesc {
    font-size: 16px !important;
    margin-bottom: 30px;
}

.invest_gridItem_progressWrap {
    width: 100%; /* szerokość kontenera */
    max-width: 400px; /* opcjonalnie maksymalna szerokość */
    margin: 0 auto; /* centrowanie kontenera */
  }
  
  .progress-bar {
    background-color: #e0e0e0; /* kolor tła paska */
    border-radius: 25px; /* zaokrąglone rogi */
    position: relative; /* pozycjonowanie dla napisu */
    height: 20px; /* wysokość paska */
    width: 100%; /* szerokość paska */
    overflow: hidden; /* ukrycie wykraczającej zawartości */
  }

  .invest_gridItem_progressWrap2 {
    width: 100%; /* szerokość kontenera */
    max-width: 250px; 
    margin: 0 auto;  
  }

  .invest_gridItem_progressWrap3 {
    width: 90%; 
    margin: 0 auto;  
  }
  
  .progress {
    width: 0;
    background-color: #4175fc; /* kolor paska ładowania */
    height: 100%; /* wysokość paska ładowania */
    line-height: 20px; /* wyśrodkowanie napisu pionowo */
    color: white; /* kolor tekstu */
    transition: all 2s ease-in-out; /* animacja ładowania */
    padding-left:'0'; 
    color: '#e0e0e0';
    font-size: 12px;
  }

  .progress.animate {
    padding-left: 15px;
    color: #fff;
    width: 70%;
  }

  .invest_lastItem {
    margin: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .invest_lastItem > * {
    margin: 25px 25px 0px 30px;
}
  

@media screen and (max-width: 1100px) {
    .invest_gridOne {
        grid-template-columns: 1fr;
    }
    .invest_gridTwo {
        grid-template-columns: 1fr;
    } 
    .invest_gridItem_progressWrap2 {
        max-width: 90%; 
    }
    .invest_gridItem_progressWrap {
        max-width: 90%; 
    }
}

.footer {
    background-color: #101218;
    color: #fff;
    padding: 45px;
}

.footer_wrap {
    width: 100%;
    max-width: 1200px;
    padding: 0 45px ;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrap a {
    text-decoration: none;
    color: #fff;
}


@media screen and (max-width: 1000px) {
    .footer_wrap{
        flex-direction: column;
        gap: 2rem;
    }
}

.footer_wrap img {
    max-width: 150px;
    width: 100%;
    max-height: 150px;
}

.form-section {
    width: 100%;
    background-color: #ffffff;
}

.form-section__inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 4rem 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}

.form-section__wrapper {
    box-shadow: 0px 0px 45px 0px rgba(213, 191.23695652173913, 191.23695652173913, 0.5);
    max-width: 1090px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.form-section__wrapper p {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;  
    font-weight: 500;
    text-align: center;
}

.form-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-1 div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-1-input {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    padding: 1rem 0.5rem;
    max-width: 300px;
    width: 100%;
}

.form-1-textarea  {
    max-width: 700px;
    width: 100%;
}

.form-1-label {
    margin-right: 1.5rem;
}

[type="submit"] {
    color: #fff;
    background-color: #4175FC;
    border: none;
    padding: 15px 30px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;  
    letter-spacing: 1px;
}

[type="submit"]:hover {
    background-color: #084AF3;
}

.form-line {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}

.form-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;  
    font-weight: 600;
    text-decoration: none;
    color: #101218;
    padding: 1rem 0;
}

.form-mail img {
    width: 40px;
}

.respond-message {
    font-size: 20px !important;
}

